.side-bar-chat {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;

  height: 100vh;
  width: $side-bar-chat-width;
}

.chat-search {
  border-color: #dee2e6;
  outline: none;
  padding: 15px;
  height: $chat-search-height;
}

.side-bar-chat .scoll-bar-chat {
  height: $scoll-bar-chat-height;
}
